<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>パクパクモグモグ</title>
</head>
<body>
<!--
<div id='inputDiv'>
<div id='usernameDiv'>
Username : <input type=text id='username' value='input your name' />
</div>
<br>
<button type="button" id="enter">Enter</button>
<button type="button" id='start' style='display:none'>Start</button>
<button type="button" id='back' style='display:none'>Back</button>
<div id='userList' style='display:none'></div>
<img id="wolfImg" src="/img/wolf.png" >
<img id="sheepImg" src="/img/sheep.png" >
</div>
-->
<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/enchant.js"></script>
<script src="/js/socket.js"></script>
<script src="/vendor/plugins/widget.enchant.js"></script>
<script src="/vendor/plugins/ui.enchant.js"></script>
<script src="/js/game/map.js"></script>
<script src="/js/game/item.js"></script>
<script src="/js/top_page/startEnchant.js"></script>
<script src="/js/game/play.js"></script>
</body>
</html>
