<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>パクパクモグモグ</title>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/enchant.js"></script>
<script src="/js/socket.js"></script>
<script src="/vendor/plugins/widget.enchant.js"></script>
<script src="/vendor/plugins/ui.enchant.js"></script>
<script src="/js/game/map.js"></script>
<script src="/js/game/normal_item.js"></script>
<script src="/js/game/power_item.js"></script>
<script src="/js/game/play.js"></script>
<script src="/js/game/result.js"></script>
<script src="/js/game/top.js"></script>
<script src="/js/init.js"></script>
</body>
</html>
